<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% content_for :css do %>
    <%= stylesheet_link_tag 'users/user_up' %>
  <% end %>
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Rubik:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <%#--- サインアップのスタイル ---%>
  <div class="sign-all">
  <%#--- ヘッダーのスタイル ---%>
    <div class="head-area"></div>
  <%#--- フォームのスタイル  ---%>
    <div class="sign-main">
    <div class="back-img"></div>
      <div class="sign-header">
        <h2 class="sign-title">
          <span>S</span><span>i</span><span>g</span><span>n</span><span>&nbsp;</span><span>u</span><span>p</span>
        </h2>
        <%# ---エラーメッセージのスタイル--- %>
        <div class="error-message">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
        <div class="sign-message">
          <p>Welcome to the world of latte art!</p>
          <p>ようこそ！ラテアートの世界へ！バリスタの気持ちを実感</p>
        </div>
      </div>
      <%# ---入力欄のスタイル--- %>
      <div class="form-group">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        
        <div class="field-user">
          <%= f.label :name, class:"user-label"%><br>
          <%= f.text_field :name, class:"user-field" %>
        </div>
        
        <div class="field-user">
          <%= f.label :email, class:"user-label" %><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"user-field" %>
        </div>

        <div class="field-user">
          <%= f.label :password, class:"user-label" %>
          <% if @minimum_password_length %>(<%= @minimum_password_length %> characters minimum)<% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"user-field" %>
        </div>

        <div class="field-user">
          <%= f.label :password_confirmation, class:"user-label" %><br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"user-field" %>
        </div>

        <%# ---サインアップボタンのビューのスタイル--- %>
        <div class="clearfix" id="contentBox">
          <div id="tenth" class="buttonBox">
            <button type="submit">
              <span>S</span><span>i</span><span>g</span><span>n</span><span>&nbsp;</span><span>u</span><span>p</span>
            </button>
          </div>
        </div>
        <% end %>
      </div> 
    </div> 
  </div>
</body>
</html>